# Stuff
inp
x/
err
rust/target
other/
kotlin/
meta.wiki
checklist.txt
atcoder/
Session.vim
.testcase.*

# VSCode
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
out
out.*

.fake
.ionide

fsharp/obj

# testlib (https://github.com/MikeMirzayanov/testlib)
testlib/
